<h1>Hogwarts' Students:</h1>

<% for student in @students do %>

<p>Name: <%= student.first_name %> <%= student.second_name %></p>
<p>House: <%= student.house %></p>
<p>Age: <%= student.age %></p>
<p><a href="/students/<%= student.id %>/edit">Edit Student Details</a></p>
<form action = "/students/<%= student.id %>/delete" method = "POST">
  <input type = "submit" value = "Delete Student">
</form>
<hr/>


<% end %>
